<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.5
    </div>
    Made with <span style="color: #e25555;">&hearts;</span> by <a href="http://codewithmukesh.com">codewithmukesh</a> and <a href="http://adminlte.io">AdminLTE.io</a>.
</footer>