@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminLTE.StarterKit.Areas.Mail.Pages.ComposeModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

<div>
    <h4>Compose a Mail</h4>
    <hr />
    <div class="row">
        <form id="mail" method="post" enctype="multipart/form-data" class="col-12">
                    <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <input asp-for="Input.From" readonly class="form-control" placeholder="From:">
                </div>
                <div class="form-group">
                    <input asp-for="Input.To" class="form-control" placeholder="To:">
                </div>
                <div class="form-group">
                    <input asp-for="Input.Subject" class="form-control" placeholder="Subject:">
                </div>
                <div class="form-group">
                    <textarea asp-for="Input.Body" id="compose-textarea" class="form-control" style="height: 300px">
                           
                    </textarea>
                </div>
                <div class="form-group">
                    <div class="btn btn-default btn-file">
                        <i class="fas fa-paperclip"></i> Attachment
                        <input asp-for="Input.files" type="file" name="Input.files" multiple>
                    </div>
                </div>
            </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                        </div>
                        <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
                    </div>
        </form>

        <!-- /.col -->
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>
}
